body{
 font-family: arial;
 font-size: 1rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    height: 300px;
    margin: 0px auto;
}
.box {
    border: 1px solid #000;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}